<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="RuleSet.Tests" ToolsVersion="16.0">
  <Include Path="RuleSet.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1707" Action="None" />
  </Rules>
</RuleSet>