<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CopyWordsWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CopyWordsWPF.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnkiSoundsFolder" serializeAs="String">
                <value>C:\Temp\1</value>
            </setting>
            <setting name="DanRusDictionaryFolder" serializeAs="String">
                <value>C:\Users\evgen\Dropbox\Danish\Большой датско-русский словарь\DATA</value>
            </setting>
            <setting name="Mp3gainPath" serializeAs="String">
                <value>C:\Users\evgen\Dropbox\Tools\mp3gain-win-1_3_4\mp3gain.exe</value>
            </setting>
            <setting name="UseMp3gain" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSlovardk" serializeAs="String">
                <value>False</value>
            </setting>
        </CopyWordsWPF.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.24.0" newVersion="1.11.24.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
