<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
        <add key="Private Nuget Packages" value="C:\Evgeny\Projects\local_nuget" />
        <add key="Project local Nuget repo" value="local_nuget" />
    </packageSources>
</configuration>